*{
    margin: 0;
    padding: 0;
}

section{
    border: 5px solid rgb(122, 12, 12);
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(163, 27, 27);
    font-family: 'Press Start 2P', cursive;
}

.botones{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px;
}

.boton1{
    width: 20px;
    height: 20px;
    margin: 7px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: blue;
} 

.boton2{
    width: 20px;
    height: 20px;
    margin: 7px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: yellow ;
}

.boton3{
    width: 20px;
    height: 20px;
    margin: 7px; 
    border: 2px solid black;
    border-radius: 50%;
    background-color: firebrick;
}

h1{
    text-align: center;
    padding-bottom: 15px;
}

input{
    margin: 20px;
    padding: 10px;
    border: 2px solid darksalmon;
    border-radius: 5px;
    background-color: darksalmon;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-small;
}

.pantalla{
    width: 75%;
    height: 500px;
    border: 4px solid red;
    border-radius: 10px;
    margin-left: 40px;
    padding-top: 20px;
    background-color: azure;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 6px 6px 5px 0px rgba(18,3,3,0.75) inset;
}

.imgPoke{
   width: 250px;
   height: fit-content;
}

h2{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin: 10px;
}

li{
    margin: 1px;
    padding: 0;
}

.tipoPoke{
    display: flex;
    justify-content: space-around;
}
 
.statPoke{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.movePoke{
    margin-left: 30px;
    padding-top: 20px;
}

.boton{
    display: flex;
    justify-content: center;
    margin: 20px;
}

button{
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(76, 76, 201);
    box-shadow: 6px 6px 6px 0px rgba(18,3,3,0.75);
    font-family: 'Press Start 2P', cursive;
    font-size: xx-small;
}

.pulsador{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color:black;
    margin: 5px;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 6px 6px 6px 0px rgba(18,3,3,0.75);
}

.tactil-box{
    display: flex;
    justify-content: center;
}

.tactil{
    width: 150px;
    height: 80px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
}

.cruz{
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 30px;
}

.up{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 2px;
    background-color: dimgray;
}

.down{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 2px;
    background-color: dimgray;
    box-shadow: 4px 4px 4px 0px rgba(18,3,3,0.75);
}

.center{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: dimgray;
}

.left{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px; 
    margin-top: 30px;
    background-color: dimgray;
}

.right{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 30px; 
    background-color: dimgray;
    box-shadow: 4px 4px 4px 0px rgba(18,3,3,0.75);
}

.centro{
    background-color: dimgray;
    margin-bottom: 4px;
}

@media (max-width: 560px){
    section{
        font-size: xx-small;
    }
    input, button{
        margin: 5px;
        padding: 2px;
    }
    .pulsador{
        display: none;
    }
    .pantalla{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }
    .movePoke{
        display: flex;
        flex-wrap: wrap;
        padding-top: 5px;
        margin-left: 5px;
    }
    .statPoke{
        margin-left: 2px;
        display: flex;
        justify-content: space-between;
        padding: 1px;
    }
    .cruz{
        display: none;
    }
}

